*{
  margin:0px;
  padding:0px;

}
body{
  background-color: #141414;
  font-family:sans-serif;
}
.nav{
background-color: #141414;
padding: 20px;
width: 100%;
top: 0px;
z-index: 100000;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  

}
.nav-container a{ 
  text-decoration:none;
}

.brandname{
  display: flex;
  font-size: 1.6rem;
  
}
.brandname a{
  color:#E50914;
  transition: color 0.6s ease;
}
.brandname a:hover{
  color: #C11119;
}
.nav-links{
  display: flex;
  gap: 35px;
}
.nav-links li{
  list-style:none;
   
  
}
.nav-links a{
  font-size:1.2rem;
  color: #ffffff;
  transition: color 0.6s ease;
}
.nav-links a:hover{
  color:#a2a2a2;
}